.create-blog {
  border: 1px solid var(--primary);
  padding: 1rem 0rem;
  margin: 1rem 0rem;
  border-radius: 10px;
}

.create-blog input,
.create-blog textarea {
  min-width: 30%;
  background-color: var(--primary-hover);
  color: var(--white);
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  max-width: 100%;
  /* min-width: 100%; */
}
